---
dist: xenial
language: python
python: 3.7
# pre-commit hooks can use Docker, so we should go ahead and enable it
services: docker

matrix:
  include:
    - env: MOLECULE_SCENARIO=debian-only
    - env: MOLECULE_SCENARIO=fedora-only
    - env: MOLECULE_SCENARIO=ubuntu-only

# Cache pip packages and pre-commit plugins to speed up builds
cache:
  pip: true
  directories:
    - $HOME/.cache/pre-commit

install:
  - pip install --upgrade -r requirements-test.txt
script:
  - pre-commit run --all-files
  - molecule test --scenario-name $MOLECULE_SCENARIO
